<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com-badrit-pushparse" version="0.2.0">
    <name>PushParse</name>
    <description>Cordova PushParse Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,PushParse</keywords>


    <js-module src="www/PushParse.js" name="PushParse">
        <clobbers target="navigator.PushParse" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PushParse">
                <param name="android-package" value="com.badrit.PushParse.PushParse" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
            </config-file>

            <config-file target="AndroidManifest.xml" parent="/manifest/application">
             <meta-data android:name="ParseAppKey" android:value="YOUR_APP_ID" />
             <meta-data android:name="ParseClientKey" android:value="YOUR_CLIENT_KEY" />
             <meta-data android:name="MainActivity" android:value="YOUR_MainActivity" />
             <meta-data android:name="FromNotification" android:value="$PACKAGE_NAME.FromNotification" />
             <activity
                android:name="FromNotification"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Black.NoTitleBar" >
            </activity>
            <service android:name="com.parse.PushService" />
            <receiver android:name="com.parse.ParseBroadcastReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.USER_PRESENT" />
                </intent-filter>
            </receiver>
            <receiver android:name="com.parse.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>
        </config-file>
        <source-file src="src/android/Application.java" target-dir="src/com/badrit/PushParse/" />
        <source-file src="src/android/PushParse.java" target-dir="src/com/badrit/PushParse/" />
        <source-file src="src/android/Parse-1.4.0-javadoc/" target-dir="libs/" />
        <source-file src="src/android/Parse-1.4.0.jar" target-dir="libs/" />
        <source-file src="src/android/android-support-v4.jar" target-dir="libs/" />
        <source-file src="src/android/Parse-1.4.0.jar.properties" target-dir="libs/" />
        <source-file src="src/android/third_party_licenses.txt" target-dir="libs/" />
    </platform>

</plugin>
